@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Orbitron:wght@600&family=Pacifico&family=Poppins:wght@800&family=Roboto+Serif:ital,opsz@1,8..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Orbitron:wght@600&family=Pacifico&family=Poppins:wght@800&family=Roboto+Serif:ital,opsz@1,8..144&family=Roboto:ital@1&display=swap');

/* own bootstrap codes */
.mt {
    margin-top: 2rem;
}

.mb {
    margin-bottom: 2rem;
}

.content {
    /* background-color: aquamarine; */
    text-align: center;
}

.title-card {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #D4D4D4;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Serif', serif; */
}

body {
    background-color: black;
}

/* header {
    /* height: 15vh; */
/* background-color: rgb(157, 44, 44);} */

.header {
    height: 16.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
}

.logo {
    width: 100px;
    margin-left: 14px;
    clip-path: circle(42%);
}

img {
    width: 100%;
}

.brazzer {
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;
}

.z {
    color: rgb(251, 202, 39);
}

.btn-1 {
    text-transform: uppercase;
    padding: 14px;
    color: aliceblue;
    background-color: transparent;
    border: 1px solid rgb(251, 202, 39);
    border-radius: 6px;
    cursor: pointer;
}

.btn-1:hover {
    text-shadow: 4px 3px 8px rgb(171, 171, 171);
}

.btn-2:hover {
    background-color: rgb(64, 64, 64);
    color: rgb(251, 202, 39);
    transition: 100ms;
}

.btn-2 {
    text-transform: uppercase;
    padding: 15px;
    margin: 10px 8px;
    color: black;
    background-color: rgb(251, 202, 39);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cover-1 {
    cursor: pointer;
}

.advertisement {
    display: grid;
}

.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.grid-sec {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
}

a {
    text-decoration: none;
}

.view {
    color: #D4D4D4;
    font-size: 1.2rem;
    color: rgb(251, 202, 39);
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    gap: 20px;
}

.video {
    cursor: pointer;
    opacity: .6;
    transition: opacity 1s, transform 1.2s;
    transform: scale(1);
}

.video>img {
    border-radius: 12px;
}

.video:hover {
    opacity: 1;
    transform: scale(1.09);
}

video {
    width: 100%;
    border-radius: 12px;
    border: 2px solid hotpink;
}

.got {
    font-size: 2rem;
    color: #D4D4D4;
    text-align: center;
    margin: auto;
}

.porn-anal {
    font-size: 1.4rem;
    color: #D4D4D4;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* display: inline-block; */
    /* text-decoration: underline;
    text-decoration-color: rgb(251, 202, 39); */
}

.porn-anal::before {
    content: '';
    display: block;
    transform: scale(0);
    background-color: rgb(254, 6, 200);
    height: 4px;
    transition: 2s;
    transform-origin: left;
}

.porn-anal:hover::before {
    width: 100%;
    transform: scale(1);
}

.porn-anal::after {
    content: '';
    display: block;
    transform: scale(0);
    background-color: goldenrod;
    height: 4px;
    transition: 2s;
    transform-origin: right;
}

.porn-anal:hover::after {
    width: 100%;
    transform: scale(1);
}

.milf-para {
    color: #D4D4D4;
    text-transform: capitalize;
}

::selection.milf-para {
    color: #D4D4D4;
    background-color: hotpink;
}

.article {
    width: 650px;
    margin: auto;
}

.new-ino:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
}

.new-ino {
    display: flex;
}

.new-ino:nth-child(even) {
    flex-direction: row-reverse;
}

.new {
    padding: 3px;
    color: #D4D4D4;
    font-size: larger;
    text-align: center;
    font-family: monospace;
}

.addon {
    margin: 20px;
}

.email-inside {
    width: 280px;
    margin: 12px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
}

.zz {
    display: block;
    color: rgb(251, 202, 39);
    font-size: 2rem;
}

::placeholder {
    color: gray;
    text-align: center;
    font-size: 1.4rem;

}

.submit {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: rgb(251, 202, 39);
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* Media querys */
@media screen and (min-width:1200px) {
    .video>img {
        width: 420px;
    }
}

@media screen and (max-width:1200px) {
    .title {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:1040px) {
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media screen and (max-width:938px) {
    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}

@media screen and (max-width:920px) {

    .new-ino {
        flex-direction: column !important;
    }

    .article {
        width: 300px;
    }

    .porn-anal {
        text-align: center;
    }

    .brazzer>h1 {
        font-size: .6rem;
    }

    .submit {
        padding: 1px;
    }
}

@media screen and (max-width:880px) {
    .brazzer {
        font-size: 1rem;
    }

    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .button {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width:698px) {
    .video-grid {
        column-gap: .2rem;
        row-gap: .2rem;
        grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
    }
}

@media screen and (max-width:640px) {
    .video-grid {
        column-gap: .2rem;
        row-gap: .2rem;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

@media screen and (max-width:520px) {
    .brazzer {
        font-size: 1rem;
    }

    .button {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .video-grid {
        column-gap: .2rem;
        row-gap: .2rem;
        grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
    }
}

@media screen and (max-width:480px) {
    .video-grid {
        column-gap: .2rem;
        row-gap: .2rem;
        grid-template-columns: repeat(auto-fit, minmax(213px, 1fr));
    }

    .brazzer {
        font-size: 1rem;
    }

    .button {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .btn-1 {
        font-size: .6rem;
        padding: 10px;
    }

    .btn-2 {
        padding: 10px;
        font-size: 12px;
    }

    .grid-sec {
        display: grid;
        grid-template-columns: repeat(auto-fit);
    }

    .title-card {
        font-size: 1rem;
        font-weight: 800;
    }

    .view {
        font-size: 1rem;
    }

    .brazzers-flex {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:472px) {
    .brazzer {
        font-size: .8rem;
    }

    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width:429px) {
    .video-grid {
        column-gap: .2rem;
        row-gap: .2rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width:410px) {
    .video-grid {
        column-gap: .2rem;
        row-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    }

    .milf-para {
        text-align: start;
        padding: 2px;
        font-family: 'Roboto Serif', serif;
    }

    .Join_form {
        background-repeat: repeat;
        background-size: cover;
    }

    .Join_Id {
        width: 30px;
        padding: 7px;
        border-radius: 4px;
        outline: none;
        border: none;
        background-color: rgba(0, 0, 0, 0.85);
        color: white;
        font-size: .1rem;
    }
}

/* JAVASCRIPT */
.popup {
    background-image: url("/images/vecteezy_fingerprint-identity-sensor-data-protection-system-podium_7164537.jpg");
    object-fit: contain;
    object-position: center;
    width: 400px;
    height: 300px;
    background-color: transparent;
    padding: 16px;
    margin: auto;
    color: #D4D4D4;
    text-align: center;
    /* display: none; */
    /* opacity: 0; */
    transform: scale(0);
    height: 0;
    overflow: hidden;
}

.popup>input {
    margin: auto;
    width: 250px;
    padding: 12px;
    border-radius: 12px;
    outline: none;
    border: none;
    margin-bottom: 1px;
}

::placeholder {
    font-size: .8rem;
    text-align: start;
    color: rgb(73, 66, 66);
}

.popup>h2 {
    color: rgb(251, 202, 39);
    font-size: xx-large;
}

.popup>h3 {
    margin-top: 12px;
    margin-bottom: 2px;
}

.login_btn {
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 8px;
    width: 80px;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: rgb(251, 202, 39);
    cursor: pointer;
}

.new-js {
    /* display: block; */
    /* visibility: visible; */
    /* opacity: 1; */
    height: 60vh;
    border-radius: 20px;
    text-align: center;
    transition: 2s;
    width: 100%;
    transform: scale(1);
}

/* join-button */
.Join_form {
    text-align: center;
    /* min-height: 100vh; */
    background: linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.907)), url('./images/join-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.popuptwo {
    transform: scale(0);
    height: 0;
    overflow: hidden;
}

.h3-black {
    color: #D4D4D4;
}

.brazzer-join {
    font-size: 1.1rem;
    color: #D4D4D4;
}

.brazzer-join>h3 {
    margin-top: 4rem;
    text-decoration: underline;
}

.join-margin {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-margin>h3 {
    margin-bottom: 1rem;
    /* background-color: aqua; */
    margin-top: 0rem;
}

.Join_Id {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-size: 1.2rem;
}

.Join_Id::placeholder {
    color: rgba(186, 185, 185, 0.727);
}

.login_btn-2 {
    display: block;
    background-color: rgb(63, 174, 234);
    margin: auto;
    padding: 12px;
    margin-top: 2rem;
    border: none;
    outline: none;
    border-radius: 24px;
    color: #D4D4D4;
    font-size: 1.2rem;
    cursor: pointer;
}

.news-js {
    /* display: block; */
    /* visibility: visible; */
    /* opacity: 1; */
    height: 100vh;
    border-radius: 20px;
    text-align: center;
    transition: 2s;
    width: 100%;
    transform: scale(1);
}
